/**********************************
 Practica 0203
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/* reinicio márgenes */
* { margin: 0px; padding: 0px }

h2 
{
    font-family: "Times New Roman",serif;
    margin: 1.2em 0px;
    font-weight: normal;
}

p code, li code
{
    background-color: #ECECEC;
}
    
/* elementos de clase elem */
.elem
{ 
    border: 3px solid #6AC5AC; 
    position: relative;
}

/* elementos de clase .label */
.label
{ 
    padding: 0px 3px 3px 0px; 
}

/* elementos de clase .endlabel */
.endlabel 
{ 
    padding: 3px 0px 0px 3px; 
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* común a elementos de clase .label y .endlabel */
.label, .endlabel 
{ 
    background-color: #6AC5AC;  
    color: #414142; 
    line-height: 1em; 
}

/* elementos de clase .relative */
.relative
{ 
    width: 600px; 
    height: 400px; 
}

/* elementos de clase .relative2 */
.relative2
{ 
    background-color: #FFF; 
    width:500px; 
    position: relative;
    left: 20px;
    top: -4px;
}

/* elementos de clase .fixed */
.fixed
{ 
    width: 200px;     
    background-color: #FFF; z-index: 9999; 
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/* elementos de clase .absolute */
.absolute
{ 
    width: 300px; 
    height: 200px; 
    position: absolute;
    right: 0px;
    bottom: 80px;
}

/* elementos de clase .elem-red */
.elem-red
{ 
    border: solid #D64078 3px;      
}

/* elementos de clase .label y .endlabel, hijos directos de de .elem-red */
.elem-red >.label, .elem-red > .endlabel
{ 
    color: #FFF; 
    background-color: #D64078; 
}

/* elementos de clase .container */
.container
{ 
    margin: 30px; 
    border: solid 1px orange; 
    padding: 10px;
    position: relative;
}

/* elementos de clase .box1 */
.box1
{ 
    width: 100px;     
    height: 100px;     
    background: blue; 
}

/* elementos de clase .box2 */
.box2
{ 
    width: 100px;     
    height: 100px; 
    background: green; 
    border: yellow solid; 
    position: absolute;
    top: 40px;
    left: 40px;
}

/* elementos de clase .box3 */
.box3 
{ 
    width: 100px;    
    height: 100px;     
    background: red; 
}


